---
layout: default
---

<div class="home">

	{% include map.html headline="The Sound Of Change" description-1='<a href="https://creativetechweek2016.sched.org/exhibitor/edgewood_magicians_guild.1uw9l4ww">Creative Tech Week</a>, NYC, April 2016' description-2="Kurt Roberts, Matt Smith, Michael Kahane, Jeremy Hilts, Wyatt Queener" %}

	<ul class="post-list">

		{% for post in site.posts %}

			<li>

				<div class="wrapper">

					<h1 class="post-link">
						<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					</h1>

					<p>
						{{ post.content }}
					</p>

				</div>

			</li>

		{% endfor %}

	</ul>

</div>
