<div id="map" class="featured">
	<div class="wrapper">
		<div class="absolute-padding-fix">
			<div class="featured__container">
				<h1 class="featured__headline post-link"> {{ include.headline }} </h1>
				<p class="featured__description"> {{ include.description-1 }} </p>
				<p class="featured__description"> {{ include.description-2 }} </p>
			</div>
		</div>
	</div>
</div>

<!-- leaflet -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2/leaflet.js"></script>

<!-- Main tangram library -->
<script src="https://mapzen.com/tangram/0.4/tangram.min.js"></script>

<!-- Demo setup -->
<script>

    var map = L.map('map');

    var layer = Tangram.leafletLayer({
        scene: 'soc-map/scene.yaml',
        attribution: '<a href="https://mapzen.com/tangram" target="_blank">Tangram</a> | &copy; OSM contributors | <a href="https://mapzen.com/" target="_blank">Mapzen</a>'
    });
	map.scrollWheelZoom.disable();

    layer.addTo(map);

    map.setView([38.8651533,-77], 13);

</script>