/**
 * Site header
 */
.site-header {

	.logo {
		line-height: 1.1;
		text-align: right;
	}
}

.site-title {
	font-size: 26px;
	font-weight: 300;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;

	&,
	&:visited {
		color: $grey-color-dark;
	}
}

.site-nav {
	float: right;
	line-height: 56px;

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the last one
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: $spacing-unit / 2;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;

			&:not(:last-child) {
				margin-right: 0;
			}
			margin-left: 20px;
		}
	}
}



/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit 0;
}

.footer-heading {
	font-size: 18px;
	margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.footer-col-wrapper {
	font-size: 15px;
	color: $grey-color;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(33% - (#{$spacing-unit} / 2));
	width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(27% - (#{$spacing-unit} / 2));
	width:         calc(27% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: -webkit-calc(40% - (#{$spacing-unit} / 2));
	width:         calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width:         calc(50% - (#{$spacing-unit} / 2));
	}

	.footer-col-3 {
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:         calc(100% - (#{$spacing-unit} / 2));
	}
}

@include media-query($on-palm) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width:         calc(100% - (#{$spacing-unit} / 2));
	}
}



/**
 * Page content
 */

.page-heading {
	font-size: 20px;
}

.post-list {
	margin-left: 0;
	margin-bottom: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
		padding: $spacing-unit*2 0;

		&:nth-child(odd) {
			background: $text-color;

			.post-link, p {
				color: $background-color;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-link, .post-title {
	display: block;
	font-weight: 400;
	font-size: rem(47px);
	text-transform: uppercase;

	@include media-query($on-palm) {
		font-size: rem(30px);
	}

	a {
		&:hover, &:visited {
			color: $text-color;
		}
	}
}


/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}

.post-link {
	a {
		color: $text-color;

		&:hover {
			text-decoration: none;
		}
	}
}

.post-featured-image {
	float: left;
	margin-right: rem(12px);
	margin-top: rem(16px);
	width: 40px;
}

/**
* Map Component
*/

.featured {
	height: 450px;
	overflow: hidden;

	@include media-query($on-laptop) {
		height: 300px;
	}

	@include media-query($on-palm) {
		height: 200px;
	}

	&__container {
		bottom: 10%;
		line-height: 1.25;
		position: absolute;
		right: -13px;
		text-align: right;
		z-index: 1;
	}

	&__headline {
		background-color: transparentize($background-color, 0.15);
		clear: right;
		float: right;
		padding: rem(6px) rem(10px);
		text-transform: uppercase;
	}

	&__description {
		background-color: transparentize($background-color, 0.15);
		clear: right;
		float: right;
		margin-bottom: rem(5px);
		padding: rem(2px) rem(10px);
	}

	.wrapper {
		height: 100%;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		right: 0;
	}
}
