/**
 * Typography
 */

@import url(http://fonts.googleapis.com/css?family=League+Script|Open+Sans:300,400,600,700 );

@function neon($size) {
	@return
		blur($size/2)
		drop-shadow(0 0 $size #ff8100)
		drop-shadow(0 0 pow($size*1.5,2)/1px orange)
		drop-shadow(0 0 pow($size*1.5,2)*2/1px #ff3100);
}

.logo {
	color: $text-color;
	font-family: "League Script";
	font-size: rem(60px);
	font-weight: bold;
	text-shadow: none;

	a {
		color: $text-color;
		filter: neon(1px);
		-webkit-filter: neon(1px);
		-moz-filter: neon(1px);
		-o-filter: neon(1px);
		-ms-filter: neon(1px);
		transition: filter, 0.2s, ease;

		&:hover {
			color: $text-color;
			filter: neon(1.2px);
			-webkit-filter: neon(1.2px);
			-moz-filter: neon(1.2px);
			-o-filter: neon(1.2px);
			-ms-filter: neon(1.2px);
			text-decoration: none;
			text-shadow: none;
		}

		&:visited {
			color: $text-color;
		}
	}
}

h1, h2 {
	text-shadow: 0px 0px 10px transparentize(#777,0.15);

	a {
		transition: text-shadow, 0.5s, ease;

		&:hover {
			text-shadow: 0px 0px 25px transparentize(#777,0.15);
		}
	}
}